
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&display=swap')
</style>
}
:root{
 --cor-de-fundo:var(--cor-de-fundo);
 --verde:#6FFF57;
 --branco: #FFFFFF;
 --botao-ativo: #3A375E;
 --botao-inativo:#rgba(58,55,95,0.5);
 --texto-fundo: #rgba(58,55,94,0.3);
}

