
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&display=swap');
:root{
 --cor-de-fundo:var(--cor-de-fundo);
 --verde:#6FFF57;
 --branco: #f1ebeb;
 --botao-ativo: #3A375E;
 --botao-inativo:#rgba(58,55,95,0.5);
 --texto-fundo: #rgba(58,55,94,0.3);
}
body{
background-color: var(--cor-de-fundo);
color: var(--preto);
font-family: 'Chakra Petch', sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}